body{
  background-color: rgba(37, 150, 190, 0.5);
}
.frame{
  position: fixed;
  display: flex;
  width: 1000px;
  height: 600px;
  /* background-color: rgb(88,88,88); */
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.leftBar{
  /* display: inline-block; */
  background-color: rgb(46,46,46);
  height: 100%;
  width: 70px;
  border: 1px, solid ,red;
}
.tabBar{
  background-color: rgb(247,247,247);
  width: 280px;
  height: 100%;
  display: flex;
}
.tabs{
  flex-grow: 1;
  overflow: scroll;
}
.rightContent{
  flex-grow: 1;
  background-color: rgb(245,245,245);
  border-left: 1px solid rgb(214,214,214);
  display: flex;
  flex-direction: column;
}
/*right top hr: 231*/
.avatar{
  width: 80%;
  margin: auto;
  margin-top: 50%;
  user-select: none;
}
img{
  width: 100%;
  height: 100%;
}
.search{
  width: 100%;
  height: 70px;
  background-color: rgb(247,247,247);
  user-select: none;
}
.tab{
  width: 100%;
  height: 80px;
  display: flex;
  background-color: rgb(230,230,230);
  user-select: none;
}
.tabSelected{
  width: 100%;
  height: 80px;
  display: flex;
  background-color: rgb(223,220,219);
  user-select: none;
}
.tab:hover{
  background-color: rgb(223,220,219);
}
.tabAvatar{
  margin-top: 13px;
  margin-left: 13px;
  height: 54px;
  width: 54px;
}
.tabText{
  margin-left: 20px;
  margin-top: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* border: 1px red solid; */
  margin-bottom: 10px;
}
.timeAndMute{
  /* margin-left: 20px; */
  margin-top: 10px;
  margin-right: 20px;
}
.tabName{
  margin-top: 2px;
  margin-bottom: 5px;
  font-size: 15pt;
}
.lastMessage{
  color: rgb(153,153,153);
  font-size: 13pt;
}
.search{
  position: absolute;
  width: 280px;
}
.tabs{
  margin-top: 70px;
}
.searchBox{
  position: fixed;
  top: 30px;
  left: 90px;
  resize: none;
  border-radius: 4px;
  background-color: rgb(226,226,226);
  outline: none;
  border: none;
}
.searchBox:focus{
  background-color: rgb(248,248,248);
  border: 1px rgb(226,226,226) solid;
}
.searchBox:focus::placeholder{
  color: rgb(248,248,248);
}
.addChat{
  position: fixed;
  top: 30px;
  left: 300px;
  resize: none;
  height: 20px;
  width: 20px;
  background-color: rgb(226,226,226);
  line-height: 100%;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}
.addChat:hover{
  background-color: rgb(209,209,209);
}
.chatName{
  height: 70px;
  border-bottom: 1px rgb(231,231,231) solid;
  font-size: 17pt;
  line-height: 80px;
  user-select: none;
  padding-left: 25px;
}
.chatContent{
  height: 350px;
  border-bottom: 1px rgb(236,236,236) solid;
  display: flex;
  flex-direction: column;
}
.iconBar{
  height: 33px;
  padding-left: 28px;
}
.iconBarIcon{
  margin: 4px;
  margin-left: 6px;
  height: 25px;
  width: 25px;
  cursor: pointer;
  transition: all, 0.25s;
}
.iconBarIcon:hover{
  transform: scale(1.1);
}
.chatInput{
  flex-grow: 1;
  background-color: rgb(245,245,245);
  user-select: none;
  /* top: 0px;
  bottom: 0px; */
}
.chatInput:focus-within{
  background-color: rgb(255,255,255);
}
.chatInput:focus-within+div{
  background-color: rgb(255,255,255);
}
.inputBoxDiv{
  height: calc(100% - 43px);
  padding-left: 25px;
  padding-right: 10px;
  padding-top: 10px;

}
.inputArea{
  width: 100%;
  height: 100%;
  resize: none;
  overflow: auto;
  outline: none;
  border: none;
  padding: 0px;
  background-color: rgb(245,245,245);
}
.inputArea:focus{
  background-color: rgb(255,255,255);
}
.sendButton{
  margin: 5px;
  float: right;
  margin-right: 20px;
  width: 80px;
  height: 25px;
  border: 1px rgb(225,225,225) solid;
  color: rgb(96,96,96);
  font-size: 13pt;
  cursor: pointer;
}
.sendButton:hover{
  background-color: rgb(18,150,17);
  color: white;
}
.myMessageBox{
  display: flex;
  align-self: flex-end;
  margin: 20px;
}
.yourMessageBox{
  display: flex;
  margin: 20px;
}
.myMessage{
  background-color: rgb(158,234,106);
  margin-right: 20px;
  padding: 15px;
  padding-top: 8px;
  padding-bottom: 5px;
  border-radius: 4px;
  position: relative;
  /* line-height: 30px; */
}
.yourMessage{
  border: 1px rgb(237,237,237) solid;
  margin-left: 20px;
  padding: 15px;
  padding-top: 8px;
  padding-bottom: 5px;
  border-radius: 4px;
  background-color: white;
  position: relative;
  /* line-height: 30px; */
}
.yourMessage:hover{
  background-color: rgb(246,246,246);
}
.myMessage:hover{
  background-color: rgb(152,225,101);
}
.chatAvatar{
  height: 40px;
  width: 40px;
  user-select: none;
}
.yourMessage::before{
  content: "";
  border-right: 10px solid rgb(237,237,237);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 0;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -10px;
  margin-left: -10px;
}
.yourMessage::after{
  content: "";
  border-right: 10px solid white;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 0;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -10px;
  margin-left: -9px;
}
.yourMessage:hover::after{
  border-right: 10px solid rgb(246,246,246);
}
.myMessage::before{
  content: "";
  border-left: 10px solid rgb(158,234,106);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 0;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -10px;
  margin-right: -9px;
  z-index: 2;
}
.myMessage::after{
  content: "";
  border-left: 10px solid rgb(158,234,106);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 0;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -10px;
  margin-right: -10px;
  z-index: 1;
}
.myMessage:hover::before{
  border-left: 10px solid rgb(152,225,101);
}
